<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>찾은 아이디</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">찾은 아이디</h2>
                    <p class="text-center mt-4" th:text="'아이디: ' + ${foundUsername}"></p>
                    <div class="text-center mt-5">
                        <a href="/" class="btn btn-primary">홈으로</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
