<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="main-container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-9">
                <div class="form-container mb-4">
                    <h1 class="text-center mb-4">제품 등록</h1>
                    <form action="#" th:action="@{/products/create}" th:object="${productForm}" method="post"
                          enctype="multipart/form-data"
                          class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="productName" class="form-label">제품명</label>
                            <input type="text" class="form-control" id="productName" th:field="*{productName}" required>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">제품 가격</label>
                            <input type="text" class="form-control" id="price" th:field="*{price}" required>
                        </div>
                        <div class="mb-3">
                            <label for="productDescription" class="form-label">제품 설명</label>
                            <textarea class="form-control" id="productDescription" th:field="*{productDescription}"
                                      rows="3"
                                      required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="photoList" class="form-label">제품 이미지</label>
                            <input type="file" class="form-control" id="photoList" name="photos" multiple>
                            <div id="imagePreviews"></div>
                        </div>
                        <div class="mb-3">
                            <label for="productCondition" class="form-label">제품 상태</label>
                            <select class="form-select" id="productCondition" th:field="*{productCondition}" required>
                                <option value="S급">S급</option>
                                <option value="A급">A급</option>
                                <!-- 다른 옵션들도 추가 -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="categoryId">카테고리</label>
                            <select class="form-control" id="categoryId" th:field="*{categoryId}" name="categoryId" required>
                                <!-- 카테고리 목록 반복 -->
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:text="${category.name}"></option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">등록</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer inclusion -->
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const priceInput = document.getElementById("price");
        const form = document.querySelector("form");

        priceInput.addEventListener("input", function () {
            // 콤마와 다른 문자를 제거
            let value = this.value.replace(/[^0-9]/g, "");

            // 콤마 추가
            value = parseInt(value).toLocaleString("en-US") || "";

            // 값을 다시 설정
            this.value = value;
        });

        form.addEventListener("submit", function () {
            const rawValue = priceInput.value.replace(/,/g, "");
            priceInput.value = rawValue;
        });
    });
    document.getElementById('photoList').addEventListener('change', function() {
        const imagePreviews = document.getElementById('imagePreviews');
        imagePreviews.innerHTML = ''; // 이전 미리보기 제거

        Array.from(this.files).forEach(file => {
            const reader = new FileReader();
            reader.onload = function(event) {
                const img = document.createElement('img');
                img.src = event.target.result;
                img.width = 100; // 원하는 미리보기 너비 설정
                img.height = 100; // 원하는 미리보기 높이 설정
                img.style.objectFit = "cover"; // 이미지의 비율을 유지하면서 미리보기에 맞게 조절
                img.style.marginRight = "10px"; // 이미지 사이에 간격을 주기 위한 스타일 (옵션)
                imagePreviews.appendChild(img);
            }
            reader.readAsDataURL(file);
        });
    });

</script>

</body>
</html>
