<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"> <!-- Link to your custom CSS file -->
</head>
<body>
<div th:replace="fragments/header :: header"></div> <!-- Header inclusion -->

<div class="container mt-4">
    <div class="row">
        <div class="col-md-9 mx-auto">
            <div class="text-center mb-4">
                <h1>제품 상세</h1>
            </div>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th>제품명</th>
                    <td th:text="${product.productName}"></td>
                </tr>
                <tr>
                    <th>설명</th>
                    <td><pre th:text="${product.productDescription}" style="white-space: pre-wrap;"></pre></td>
                </tr>
                <tr>
                    <th>가격</th>
                    <td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '원'"></td>
                </tr>
                <tr>
                    <th>상태</th>
                    <td th:text="${product.productCondition}"></td>
                </tr>
                <tr th:if="${product != null && product.category != null}">
                    <th>카테고리</th>
                    <td>
                        <a th:href="@{/categories/{id}(id=${product.category.id})}"
                           th:text="${product.category.name}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- 제품 이미지 -->
            <div class="product-images">
                <th:block th:each="photo : ${product.photoList}">
                    <img th:src="${photo.url}" alt="Product Image" class="product-image"/>
                </th:block>
            </div>
            <div class="text-center mt-4">
                <!-- 수정 및 삭제 버튼 조건 추가 -->
                <!-- 찜하기 버튼 추가 -->
                <form th:action="@{/favorites/toggle}" method="post">
                    <input type="hidden" th:value="${product.id}" name="productId"/>
                    <input type="hidden" th:value="${loggedInMemberId}" name="memberId"/>
                    <button type="submit" class="btn btn-primary">찜하기</button>
                </form>
                <a th:if="${loggedInMemberId == product.member.id}" th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-warning">수정</a>
                <a th:if="${loggedInMemberId == product.member.id}" th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger ml-2">삭제</a>
            </div>
        </div>
    </div>
</div>

<!-- Footer inclusion -->
<div class="mb-5">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
