<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .table-container {
            max-width: 800px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="container table-container">
    <h1 class="text-center">회원 목록</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>이름</th>
            <th>도시</th>
            <th>거리</th>
            <th>우편번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="member : ${members}">
            <td th:text="${member.name}"></td>
            <td th:text="${member.address.city}"></td>
            <td th:text="${member.address.street}"></td>
            <td th:text="${member.address.zipcode}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
