<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"></div> <!-- Header inclusion -->

<div class="container mt-4">
    <div class="row">
        <div class="col-md-9">
            <div class="form-container">
                <h1 class="text-center mb-4">게시물 수정</h1>
                <form th:action="@{/posts/{postId}/edit(postId=${postForm.id})}"
                      th:object="${postForm}" method="post"
                      class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label">제목</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" required>
                    </div>
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" id="content" th:field="*{content}" rows="5" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">수정 완료</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer inclusion -->
<div class="fixed-bottom">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
