<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="main-container">
    <div th:replace="fragments/header :: header"></div> <!-- Header inclusion -->
    <div class="container mt-4 text-center"> <!--스크롤-->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>게시물 리스트</h1>
            <a href="/posts/new" class="btn btn-primary">게시물 등록</a>
        </div>
        <!-- 검색 폼 추가 시작 -->
        <div class="mb-4">
            <form action="/posts/search" method="get" class="form-inline justify-content-center">

                <label for="keywordInput" class="sr-only">게시글 검색</label> <!-- 접근성을 위한 레이블 추가 (화면에는 보이지 않음) -->
                <input type="text" id="keywordInput" name="keyword" th:value="${searchedKeyword != null ? searchedKeyword : ''}" placeholder="게시글 검색..." class="form-control mr-2">

                <label for="searchSubmit" class="sr-only">검색 버튼</label> <!-- 접근성을 위한 레이블 추가 (화면에는 보이지 않음) -->
                <input type="submit" id="searchSubmit" value="검색" class="btn btn-secondary">

            </form>
        </div>
        <!-- 검색 폼 추가 끝 -->

        <table class="table table-striped mt-4 mx-auto">
            <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>작성일</th>
                <th>옵션</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${pagedPosts.content}">
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td th:text="${#temporals.format(post.creationDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                    <a th:href="@{/posts/details/{id}(id=${post.id})}" class="btn btn-info">상세보기</a>
                    <!-- 수정 및 삭제 버튼 조건 추가 -->
                    <a th:if="${loggedInMemberId == post.member.id}" th:href="@{/posts/edit/{id}(id=${post.id})}"
                       class="btn btn-warning">수정</a>
                    <form th:if="${loggedInMemberId == post.member.id}"
                          th:action="@{/posts/delete/{id}(id=${post.id})}" method="post" style="display: inline ;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('정말로 이 게시물을 삭제하시겠습니까?');">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Pagination Section -->
        <div class="pagination-container">
            <ul class="pagination">
                <li th:if="${pagedPosts.number > 0}" class="page-item">
                    <a class="page-link" th:href="@{/posts(page=${pagedPosts.number - 1})}">이전</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, pagedPosts.totalPages - 1)}" class="page-item">
                    <a class="page-link" th:href="@{/posts(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                </li>
                <li th:if="${pagedPosts.number < pagedPosts.totalPages - 1}" class="page-item">
                    <a class="page-link" th:href="@{/posts(page=${pagedPosts.number + 1})}">다음</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="mb-5">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Optional JavaScript -->
</body>
</html>
