<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>카테고리 생성</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>새 카테고리 추가</h1>
    <form th:action="@{/categories/create}" method="post" th:object="${categoryForm}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group">
            <label>카테고리 이름</label>
            <input type="text" name="name" id="categoryName" required>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>
</body>
</html>
