<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>카테고리 수정</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>카테고리 수정</h1>
    <form th:action="@{'/categories/' + ${categoryForm.id} + '/edit'}" method="post">
        <div class="form-group">
            <label>카테고리 이름</label>
            <input type="text" class="form-control" th:field="${categoryForm.name}">
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
</body>
</html>
