<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="font-weight: bold;">Eco Swap SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/products}">상품</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/posts}">게시글</a></li>
                <!-- 찜리스트 추가 -->
                <li class="nav-item"><a class="nav-link" th:href="@{/favorites}">찜리스트</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <!-- 로그인 상태인 경우 -->
                <div th:if="${#authorization.expression('isAuthenticated()')}">
                    <li><a th:href="@{/members/logout}">로그아웃</a></li>
                </div>
                <!-- 로그인 상태가 아닌 경우 -->
                <div th:unless="${#authorization.expression('isAuthenticated()')}">
                    <li><a th:href="@{/members/login}">로그인</a></li>
                </div>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
