<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="font-weight: bold;">Eco Swap SHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/products}">상품</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/posts}">게시글</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/favorites}">찜리스트</a></li>
            </ul>
            <ul class="navbar-nav ml-auto user-actions">
                <!-- 로그인 상태인 경우 -->
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        알림 <span class="badge badge-danger" th:text="${unreadNotificationsCount}">0</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="notificationsDropdown">
                        <h6 class="dropdown-header">최신 알림:</h6>
                        <div th:each="notification : ${recentNotifications}">
                            <a class="dropdown-item" th:href="@{/notifications/{id}(id=${notification.id})}">
                                <span th:text="'[' + ${notification.productName} + '] 에 대한 새로운 메시지: ' + ${notification.content}">Notification content</span>
                            </a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/notifications}">모든 알림 보기</a>
                    </div>
                </li>

                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item"><a class="nav-link"
                                                                                                  th:href="@{/members/edit/{memberId}(memberId=${loggedInMemberId})}">프로필
                    수정</a></li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item"><a class="nav-link"
                                                                                                  th:href="@{/members/detail/{memberId}(memberId=${loggedInMemberId})}">회원
                    상세 정보</a></li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="nav-item"><a class="nav-link"
                                                                                                  th:href="@{/members/logout}">로그아웃</a>
                </li>
                <!-- 로그인 상태가 아닌 경우 -->
                <li th:unless="${#authorization.expression('isAuthenticated()')}" class="nav-item"><a class="nav-link"
                                                                                                      th:href="@{/members/login}">로그인</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<script src="/js/chat.js"></script>
</body>
</html>
