<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="sidebar">
    <div class="sidebar bg-light pt-3 pl-3">
        <h5>카테고리</h5>
        <ul class="list-unstyled">
            <!-- 관리자에게만 보이는 카테고리 관리 링크 추가 시작 -->
            <div th:if="${#authentication.name == 'admin'}">
                <li class="mt-2"><strong>카테고리 관리:</strong></li>
                <li><a th:href="@{/categories}">카테고리 목록</a></li>
                <li><a th:href="@{/categories/new}">새 카테고리 추가</a></li>
            </div>
            <!-- 관리자에게만 보이는 카테고리 관리 링크 추가 끝 -->        </ul>
    </div>
</div>
</body>
</html>
