/* Error Page Styles */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}

.error-container h1 {
    font-size: 3rem;
    color: #dc3545;
    margin-bottom: 10px;
    white-space: nowrap; /* 줄바꿈 방지 */
}

.error-container p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.error-container .btn-primary {
    background-color: #3498db;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    transition: background-color 0.3s ease;
}

.error-container .btn-primary:hover {
    background-color: #2980b9;
}

/* Responsive Styling */
@media (max-width: 576px) {
    .error-container {
        max-width: 90%;
    }
}

/* 댓글 스타일 */
.comment-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.comment-actions {
    display: none;
}

.comment-box:hover .comment-actions {
    display: block;
}