/* Error Page Styles */
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
}

.error-container h1 {
    font-size: 3rem;
    color: #dc3545;
    margin-bottom: 10px;
    white-space: nowrap; /* 줄바꿈 방지 */
}

.error-container p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.error-container .btn-primary {
    background-color: #3498db;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    transition: background-color 0.3s ease;
}

.error-container .btn-primary:hover {
    background-color: #2980b9;
}

/* Responsive Styling */
@media (max-width: 576px) {
    .error-container {
        max-width: 90%;
    }
}

/* 댓글 스타일 */
.comment-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.comment-actions {
    display: none;
}

.comment-box:hover .comment-actions {
    display: block;
}
.fixed-size-image {
    width: 100px;  /* or whatever width you want */
    height: 100px;  /* or whatever height you want */
    object-fit: cover;  /* this will make sure to cover the 100x100 box without stretching */
}
.product-image {
    width: 300px;
    height: auto;
}
.content {
    flex: 1;
}
.member-details {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.detail-item {
    margin: 10px 0;
}

 .img-container {
     position: relative;
     display: inline-block;
     margin-right: 10px;
 }

.img-container img {
    max-width: 200px;
}

.img-container .delete-icon {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border: none;
    cursor: pointer;
}

.img-container:hover .delete-icon {
    display: block;
}


#chatMessages {
    border: 1px solid #ccc;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.message:last-child {
    border-bottom: none;
}

.message {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.sender {
    font-weight: bold;
}

.timestamp {
    font-size: 0.8em;
    color: gray;
    margin-left: 10px;
}

#chatArea {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#inputArea {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%; /* 부모 요소의 너비를 최대로 조정 */
    max-width: 800px; /* 필요에 따라 최대 너비 제한 설정 (이 값을 조정하실 수 있습니다) */
    margin: 0 auto; /* 중앙 정렬 */
}

#messageInput {
    flex-grow: 1;
    padding: 15px 10px;           /* 패딩 조정 */
    height: 50px;                 /* 높이 조정 */
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1); /* 그림자 추가 */
    transition: border 0.3s, box-shadow 0.3s; /* 효과 추가 */
    width: 80%; /* 입력란의 너비를 최대로 조정 */

}

#messageInput:focus {
    border-color: #007BFF; /* 포커스 상태일 때의 테두리 색상 */
    box-shadow: 0px 2px 8px rgba(0, 107, 255, 0.3); /* 포커스 상태일 때의 그림자 */
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
