<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - 중고거래 웹사이트</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<!-- Header inclusion -->
<div th:replace="fragments/header :: header"></div>

<!-- Main content -->
<div class="container mt-4">
    <div class="row">
        <!-- Sidebar inclusion -->
        <div class="col-md-3">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>

        <!-- Main Section -->
        <div class="col-md-9">
            <h1>Eco Swap SHOP에 오신 것을 환영합니다.</h1>
            <p>신뢰할 수 있는 판매자의 중고 제품에 대한 최고의 거래를 살펴보십시오.</p>

            <!-- Featured Products Section -->
            <h2>주요 제품</h2>
            <div class="row">
                <!-- Thymeleaf로 상품 반복 -->
                <div th:each="product : ${products}" class="col-md-4">
                    <div class="card">
                        <!-- 'product.imageURL'은 Product 객체의 이미지 URL을 가리킵니다. -->
                        <div class="card-body">
                            <!-- 'product.name'은 Product 객체의 이름을 가리킵니다. -->
                            <h5 th:text="${product.productName}" class="card-title">상품명</h5>
                            <!-- 'product.description'은 Product 객체의 설명을 가리킵니다. -->
                            <p th:text="${product.productDescription}" class="card-text">설명</p>
                            <!-- 'product.id'로 각 제품의 세부 정보 페이지로 연결 -->
                            <a th:href="@{/product/detail/{id}(id=${product.id})}" class="btn btn-primary">세부 정보보기</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Footer inclusion -->
<div class="fixed-bottom">
    <div th:replace="fragments/footer :: footer"></div>
</div>


<!-- Optional JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
